Repository hiroki-it/microservices-backend: changes, and which CircleCI parameters are due for each by the changed paths.
All: account, customer, orchestrator, order

.circleci/config.yml:

version: 2.1
orbs:
  path-filtering: circleci/path-filtering@0.1.2

setup: true

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/monorepo-ci.yml
          # ディレクトリ内のファイルが変更された場合に，パイプラインパラメーターの値をtrueに変更します．
          mapping: |
            src/account/.* account true
            src/customer/.* customer true
            src/orchestrator/.* orchestrator true
            src/order/.* order true

update ドキュメントを更新した．
  README.md
Due: none

update キー名を変更した．
  .circleci/monorepo-ci.yml
Due: none

update 開発環境ではdevステージを指定するようにした．
  src/customer/.env.example
  src/customer/docker-compose.yml
  src/orchestrator/.env.example
  src/orchestrator/docker-compose.yml
  src/order/docker-compose.yml
Due: customer, orchestrator, order

update gunicornを新しくインストールした．
  src/orchestrator/requirements.txt
Due: orchestrator

update DBコンテナにルートユーザーのポスワードを設定できるようにした．
  src/order/.env.example
Due: order

update DBコンテナにルートユーザーのポスワードを設定できるようにした．
  src/customer/.env.example
Due: customer

update gunicornを新しくインストールした．
  src/customer/requirements.txt
Due: customer

update コメントを追加した．
  .circleci/config.yml
Due: none

update マイクロサービス間で相互通信できるようにした．
  src/account/docker-compose.yml
  src/customer/docker-compose.yml
  src/orchestrator/docker-compose.yml
  src/order/docker-compose.yml
Due: account, customer, orchestrator, order

update マイクロサービス間で相互通信できるようにした．
  src/order/docker-compose.yml
Due: order

update マイクロサービス間で相互通信できるようにした．
  src/orchestrator/docker-compose.yml
Due: orchestrator

update マイクロサービス間で相互通信できるようにした．
  src/account/docker-compose.yml
Due: account

update マイクロサービス間で相互通信できるようにした．
  src/customer/docker-compose.yml
Due: customer

update インバウンド通信を待ち受けるポート番号を固定した。
  src/customer/docker-compose.yml
  src/customer/docker/fastapi/Dockerfile
Due: customer

update ドキュメントを変更した。
  README.md
Due: none

fix 不要なファイルを削除した。
  src/customer/text.txt
Due: customer

updat ドキュメントを更新した。
  README.md
Due: none

update URLを変更した。
  README.md
Due: none
