Repository hiroki-it/microservices-backend: changes, and which CircleCI parameters are due for each by the changed paths.
All: account, customer, orchestrator, order

add マイクロサービスごとに，異なるワークフローが発火するようにした．
  .circleci/config.yml
Due: none

update 環境変数が出力されるように，パイプラインで接続するようにした．
  .circleci/monorepo-ci.yml
Due: none

update ドキュメントを更新した．
  README.md
Due: none

update ワークフロー名を変更した．
  .circleci/config.yml
Due: none

update 環境名を変更した．
  src/customer/docker/fastapi/Dockerfile
  src/orchestrator/docker/fastapi/Dockerfile
Due: customer, orchestrator

update コミット対象のファイルがsrcディレクトリ以下になるようにした．
  .circleci/monorepo-ci.yml
Due: none

update 本番環境ではgunicornコマンドでuvicornを起動するようにした．
  src/customer/docker/fastapi/Dockerfile
  src/customer/requirements.txt
  src/orchestrator/docker/fastapi/Dockerfile
  src/orchestrator/requirements.txt
Due: customer, orchestrator

update 環境変数を出力できるようにした．
  .circleci/monorepo-ci.yml
Due: none

add CircleCIの動作を確認するために，テストファイルを作成した．
  src/customer/text.txt
Due: customer

update コミット対象のファイルがkubernetesディレクトリ以下になるようにした．
  .circleci/monorepo-ci.yml
Due: none

add envファイルをバージョン管理しないようにした．
  src/orchestrator/.gitignore
Due: orchestrator

update 別のステップに分割した．
  .circleci/monorepo-ci.yml
Due: none

update ステップ名を変更した．
  .circleci/monorepo-ci.yml
Due: none

update Helmのテンプレート内のイメージのハッシュ値を変更できるようにした．
  .circleci/monorepo-ci.yml
Due: none

update CircleCIのテストを実行した．
  src/customer/text.txt
Due: customer

digital-copyright that verifies authenticity of your soureccode across platforms (e.g. github, gitlab, dockerhub, etc.)
  hiroki-it-digital-copyright-instructions.yml
  hiroki-it-microservices-backend-digital-copyright-04-03-2022.enc
Due: none

fix パスを修正した．
  .circleci/monorepo-ci.yml
Due: none

Path conditions:
  account: any of: src/account/.*
  customer: any of: src/customer/.*
  orchestrator: any of: src/orchestrator/.*
  order: any of: src/order/.*
